{namespace modules}

// Unlike normal soy, you cannot call templates in templates. Only use the .Header template here

/**
 * Header params
 */
{template .Header}
  <header class="Header">

  </header>
{/template}