{namespace modules}

// Unlike normal soy, you cannot call templates in templates. Only use the .Footer template here

/**
 * Footer params
 */
{template .Footer}
  <footer class="Footer">

  </footer>
{/template}